<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Knjižnica{% endblock %}</title>
</head>

<body>
    <h1>My library</h1>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/books">Books</a></li>
            <li><a href="/publishers">Publishers</a></li>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/add_book">Add Book</a></li>
        </ul>
        {% endblock %}
    </div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>